# Ignorar executáveis gerados
*.exe

# Ignorar banco de dados local
#ipmonitor.db
*.db
# Ignorar arquivos de configuração do banco de dados
*.sqlite

# Ignorar dependências e arquivos temporários do Go
/bin/
/pkg/

# Ignorar arquivos do VSCode
.vscode/
.github/
# Ignorar arquivos de configuração do GoLand
.idea/

# Ignorar arquivos de log  
*.log

# Ignorar arquivos de configuração do editor
*.swp  
# Ignorar arquivos de cache
*.cache

# Ignorar arquivos temporários do sistema
.DS_Store
Thumbs.db

# Ignorar arquivos de módulo do Go
go.mod
go.sum
